@use "sass:math";

// Quickly modify global styling by enabling or disabling optional features.
$pf-global--enable-reset: true !default;
$pf-global--enable-normalize: true !default;
$pf-global--enable-fontawesome-cdn: false !default;
$pf-global--disable-fontawesome: false !default;

// Patternfly uses the default root size of the browser, it assumes a 16px base
// since most browser root size is 16. This variables is just to make the
// transformation from px to rem.
$pf-global--font-size-root: 16 !default; // for fonts
$pf-global--space-size-root: 16 !default; // for spaces
