@each $theme, $reps in $pf-global-t-var-map {
  %pf-t-#{$theme} {
    @each $var, $val in $reps {
      #{$var}: var(#{$val});
    }
  }
}

// stylelint-disable
%pf-hidden-visible {
  // base value for visible display property is set to 'block' by default and passed in to
  // placeholder via `pf-hidden-visible` mixin

  // set hidden var values
  --pf-hidden-visible--hidden--Display: none;

  // set visibile var values
  --pf-hidden-visible--Display: var(--pf-hidden-visible--visible--Display);

  // set default state to visible
  display: var(--pf-hidden-visible--Display);

  // toggle values based on state
  &.pf-m-hidden {
    --pf-hidden-visible--Display: var(--pf-hidden-visible--hidden--Display);
  }

  @each $size, $bp in $pf-global--breakpoint-name-map {
    @media screen and (min-width: $bp) {
      &.pf-m-hidden-on-#{$size} {
        --pf-hidden-visible--Display: var(--pf-hidden-visible--hidden--Display);
      }

      &.pf-m-visible-on-#{$size} {
        --pf-hidden-visible--Display: var(--pf-hidden-visible--visible--Display);
      }
    }
  }
}
// stylelint-enable

%pf-remove-num-arrows {
  appearance: textfield;

  // stylelint-disable
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
  // stylelint-enable
    appearance: none;
    margin: 0;
  }
}
