<span class="pf-c-form-control__text{{#if form-control-text--modifier}} {{form-control-text--modifier}}{{/if}}"
  {{#if form-control-text--attribute}}
    {{{form-control-text--attribute}}}
  {{/if}}>
  {{>@partial-block}}
</span>
