<div class="pf-c-form__field-group{{#if form-field-group--IsExpanded}} pf-m-expanded{{/if}}{{#if form-field-group--IsRepeatable}} pf-m-repeatable{{/if}}{{#if form-field-group--modifier}} {{form-field-group--modifier}}{{/if}}"
  {{#if form-field-group--attribute}}
    {{{form-field-group--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
