<div class="{{pfv}}pagination
  {{setModifiers
    pagination--IsCompact='pf-m-compact'
    pagination--IsBottom='pf-m-bottom'
    pagination--IsSticky='pf-m-sticky'
    pagination--IsPlain='pf-m-plain'
    pagination--IsStatic='pf-m-static'
    pagination--IsNoPlainOnGlass='pf-m-no-plain-on-glass'
    pagination--IsStickyBase='pf-m-sticky-base'
    pagination--IsStickyStuck='pf-m-sticky-stuck'
    pagination--modifier=pagination--modifier
  }}"
  {{#if pagination--attribute}}
    {{{pagination--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
