@mixin pf-theme-dark-colors() {
  // color palette changes
  $pf-color-black-50: #e0e0e0 !global;
  $pf-color-black-100: #c6c7c8 !global;
  $pf-color-black-200: #aaabac !global;
  $pf-color-black-300: #868789 !global;
  $pf-color-black-400: #57585a !global;
  $pf-color-black-500: #444548 !global;
  $pf-color-black-600: #36373a !global;
  $pf-color-black-700: #26292d !global;
  $pf-color-black-800: #1b1d21 !global;
  $pf-color-black-850: #212427 !global;
  $pf-color-black-900: #0f1214 !global;
  $pf-color-black-1000: #030303 !global;
  $pf-color-red-9999: #fe5142 !global;
  $pf-color-red-8888: #fe6a5d !global;
  $pf-color-blue-300: #1fa7f8 !global;
}
