// @debug $button; // check your variable names located in src/patternfly/sass-utilities/component-namespaces.scss

:root {
  --#{$button}--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$button}--PaddingRight: var(--pf-t--global--spacer--lg);
  --#{$button}--PaddingBottom: var(--pf-t--global--spacer--sm);
  --#{$button}--PaddingLeft: var(--pf-t--global--spacer--lg);
  --#{$button}--Color: var(--pf-t--global--text--color--regular);
  --#{$button}--LineHeight: var(--pf-t--global--font--line-height--body);
  --#{$button}--FontWeight: var(--pf-t--global--font--weight--body);
  --#{$button}--FontSize: var(--pf-t--global--font--size--body--default);
  --#{$button}--BackgroundColor: transparent;
  --#{$button}--BorderColor: transparent;
  --#{$button}--BorderWidth: var(--pf-t--global--border--width--button--default);
  --#{$button}--BorderRadius: var(--pf-t--global--border--radius--pill);

  // Hover
  --#{$button}--hover--BackgroundColor: transparent;
  --#{$button}--hover--BorderColor: transparent;
  --#{$button}--hover--BorderWidth: var(--pf-t--global--border--width--button--hover);

  // Clicked
  --#{$button}--m-clicked--BackgroundColor: transparent;
  --#{$button}--m-clicked--BorderColor: transparent;
  --#{$button}--m-clicked--BorderWidth: var(--pf-t--global--border--width--button--clicked);

  // Primary
  --#{$button}--m-primary--Color: var(--pf-t--global--text--color--on-brand--default);
  --#{$button}--m-primary--BackgroundColor: var(--pf-t--global--color--brand--default);
  --#{$button}--m-primary--hover--Color: var(--pf-t--global--text--color--on-brand--hover);
  --#{$button}--m-primary--hover--BackgroundColor: var(--pf-t--global--color--brand--hover);
  --#{$button}--m-primary--m-clicked--Color: var(--pf-t--global--text--color--on-brand--clicked);
  --#{$button}--m-primary--m-clicked--BackgroundColor: var(--pf-t--global--color--brand--clicked);

  // Secondary
  --#{$button}--m-secondary--Color: var(--pf-t--global--text--color--brand--default);
  --#{$button}--m-secondary--BorderColor: var(--pf-t--global--border--color--brand--default);
  --#{$button}--m-secondary--hover--Color: var(--pf-t--global--text--color--brand--hover);
  --#{$button}--m-secondary--hover--BorderColor: var(--pf-t--global--border--color--brand--hover);
  --#{$button}--m-secondary--m-clicked--Color: var(--pf-t--global--text--color--brand--clicked);
  --#{$button}--m-secondary--m-clicked--BorderColor: var(--pf-t--global--border--color--brand--clicked);
  --#{$button}--m-secondary--m-danger--BackgroundColor: transparent;
  --#{$button}--m-secondary--m-danger--Color: var(--pf-t--global--text--color--status--danger--default);
  --#{$button}--m-secondary--m-danger--BorderColor: var(--pf-t--global--border--color--status--danger--default);

  // Tertiary
  --#{$button}--m-tertiary--BackgroundColor: transparent;
  --#{$button}--m-tertiary--BorderColor: var(--pf-t--global--border--color--default);
  --#{$button}--m-tertiary--Color: var(--pf-t--global--text--color--brand--default);
  --#{$button}--m-tertiary--hover--BorderColor: var(--pf-t--global--border--color--hover);
  --#{$button}--m-tertiary--hover--Color: var(--pf-t--global--text--color--regular);

  // Link
  --#{$button}--m-link--BackgroundColor: transparent;
  --#{$button}--m-link--Color: var(--pf-t--global--text--color--link--default);
  --#{$button}--m-link--hover--BackgroundColor: transparent;
  --#{$button}--m-link--hover--Color: var(--pf-t--global--text--color--link--hover);
  --#{$button}--m-link--focus--BackgroundColor: transparent;
  --#{$button}--m-link--focus--Color: var(--pf-t--global--text--color--link--hover);
  --#{$button}--m-link--active--BackgroundColor: transparent;
  --#{$button}--m-link--active--Color: var(--pf-t--global--text--color--link--hover);
  --#{$button}--m-link--disabled--BackgroundColor: transparent;
  --#{$button}--m-link--disabled--Color: var(--pf-t--global--text--color--disabled--light);
  --#{$button}--m-link--not--m-inline--TextDecoration: none;
  --#{$button}--m-link--m-inline--FontSize: initial;
  --#{$button}--m-link--m-inline--hover--TextDecoration: var(--pf-t--global--link--text-decoration--hover);
  --#{$button}--m-link--m-inline--hover--Color: var(--pf-t--global--text--color--link--hover);
  --#{$button}--m-link--m-inline--PaddingTop: 0;
  --#{$button}--m-link--m-inline--PaddingRight: 0;
  --#{$button}--m-link--m-inline--PaddingBottom: 0;
  --#{$button}--m-link--m-inline--PaddingLeft: 0;
  --#{$button}--m-link--m-inline__progress--Left: var(--pf-t--global--spacer--xs);
  --#{$button}--m-link--m-inline--m-in-progress--PaddingLeft: calc(var(--#{$button}--m-link--m-inline__progress--Left) + 1rem + var(--pf-t--global--spacer--sm));

  // Plain
  --#{$button}--m-plain--BackgroundColor: var(--pf-t--global--background--color--action--plain--default);
  --#{$button}--m-plain--BorderRadius: var(--pf-t--global--border--radius--small);
  --#{$button}--m-plain--PaddingTop: var(--pf-t--global--spacer--sm);
  --#{$button}--m-plain--PaddingRight: var(--pf-t--global--spacer--sm);
  --#{$button}--m-plain--PaddingBottom: var(--pf-t--global--spacer--sm);
  --#{$button}--m-plain--PaddingLeft: var(--pf-t--global--spacer--sm);
  --#{$button}--m-plain--Color: var(--pf-t--global--icon--color--regular);
  --#{$button}--m-plain--hover--BackgroundColor: var(--pf-t--global--background--color--action--plain--hover);
  --#{$button}--m-plain--hover--Color: var(--pf-t--global--text--color--regular);
  --#{$button}--m-plain--disabled--Color: var(--pf-t--global--icon--color--disabled);
  --#{$button}--m-plain--disabled--BackgroundColor: transparent;

  // Control
  --#{$button}--m-control--BackgroundColor: var(--pf-t--global--background--color--control--default);
  --#{$button}--m-control--Color: var(--pf-t--global--text--color--subtle);
  --#{$button}--m-control--BorderRadius: var(--pf-t--global--border--radius--small);
  --#{$button}--m-control--m-expanded--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --#{$button}--m-control--m-expanded--Color: var(--pf-t--global--text--color--inverse);
  --#{$button}--m-control--m-expanded--BorderBottomWidth: var(--pf-t--global--border--width--200);
  --#{$button}--m-control--m-expanded--BorderBottomColor: var(--pf-t--global--color--brand--hover);

  // CTA
  --#{$button}--m-display-lg--PaddingTop: var(--pf-t--global--spacer--md);
  --#{$button}--m-display-lg--PaddingRight: var(--pf-t--global--spacer--xl);
  --#{$button}--m-display-lg--PaddingBottom: var(--pf-t--global--spacer--md);
  --#{$button}--m-display-lg--PaddingLeft: var(--pf-t--global--spacer--xl);
  --#{$button}--m-display-lg--FontWeight: var(--pf-t--global--font--weight--body--bold);
  --#{$button}--m-link--m-display-lg--FontSize: var(--pf-t--global--font--size--body--lg);

   // Small
   --#{$button}--m-small--PaddingTop: var(--pf-t--global--spacer--xs);
   --#{$button}--m-small--PaddingRight: var(--pf-t--global--spacer--sm);
   --#{$button}--m-small--PaddingBottom: var(--pf-t--global--spacer--xs);
   --#{$button}--m-small--PaddingLeft: var(--pf-t--global--spacer--sm);

  // Warning btn
  --#{$button}--m-warning--BackgroundColor: var(--pf-t--global--color--status--warning--default);
  --#{$button}--m-warning--Color: var(--pf-t--global--text--color--status--on-warning--default);
  --#{$button}--m-warning--hover--BackgroundColor: var(--pf-t--global--color--status--warning--hover);
  --#{$button}--m-warning--hover--Color: var(--pf-t--global--text--color--status--on-warning--hover);

  // Danger btn
  // TODO need active state text?
  --#{$button}--m-danger--BackgroundColor: var(--pf-t--global--color--status--danger--default);
  --#{$button}--m-danger--Color: var(--pf-t--global--text--color--status--on-danger--default);
  --#{$button}--m-danger--hover--BackgroundColor: var(--pf-t--global--color--status--danger--hover);
  --#{$button}--m-danger--hover--Color: var(--pf-t--global--text--color--status--on-danger--hover);
  --#{$button}--m-danger--focus--BackgroundColor: var(--pf-t--global--color--status--danger--active);
  --#{$button}--m-danger--focus--Color: var(--pf-t--global--text--color--status--on-danger--hover);
  --#{$button}--m-danger--active--BackgroundColor: var(--pf-t--global--color--status--danger--active);
  --#{$button}--m-danger--active--Color: var(--pf-t--global--text--color--status--on-danger--hover);

  // Disabled
  --#{$button}--disabled--Color: var(--pf-t--global--text--color--disabled--default);
  --#{$button}--disabled--BackgroundColor: var(--pf-t--global--background--color--disabled--default);
  --#{$button}--disabled--BorderColor: transparent;

  // Styles for an icon in button
  --#{$button}__icon--m-start--MarginRight: var(--pf-t--global--spacer--xs);
  --#{$button}__icon--m-end--MarginLeft: var(--pf-t--global--spacer--xs);

  // Progress
  --#{$button}__progress--width: calc(var(--#{$pf-global}--icon--FontSize--md) + var(--#{$pf-global}--spacer--sm)); // matches medium spinner diameter plus a spacer
  --#{$button}__progress--Opacity: 0;
  --#{$button}__progress--TranslateY: -50%;
  --#{$button}__progress--TranslateX: 0;
  --#{$button}__progress--Top: 50%;
  --#{$button}__progress--Left: var(--pf-t--global--spacer--md);
  --#{$button}--m-progress--TransitionProperty: padding;
  --#{$button}--m-progress--TransitionDuration: var(--#{$pf-global}--TransitionDuration);
  --#{$button}--m-progress--PaddingRight: calc(var(--pf-t--global--spacer--md) + var(--#{$button}__progress--width) / 2);
  --#{$button}--m-progress--PaddingLeft: calc(var(--pf-t--global--spacer--md) + var(--#{$button}__progress--width) / 2);
  --#{$button}--m-in-progress--PaddingRight: var(--pf-t--global--spacer--md);
  --#{$button}--m-in-progress--PaddingLeft: calc(var(--pf-t--global--spacer--md) + var(--#{$button}__progress--width));
  --#{$button}--m-in-progress--m-plain--Color: var(--pf-t--global--color--brand--default);
  --#{$button}--m-in-progress--m-plain__progress--Left: 50%;
  --#{$button}--m-in-progress--m-plain__progress--TranslateX: -50%;

  // Count
  --#{$button}__count--MarginLeft: var(--#{$pf-global}--spacer--sm);
  --#{$button}--disabled__c-badge--Color: var(--pf-t--global--text--color--disabled--default);
  --#{$button}--disabled__c-badge--BackgroundColor: var(--pf-t--global--background--color--disabled--default);
  --#{$button}--m-primary__c-badge--BorderColor: var(--pf-t--global--border--color--default);
  --#{$button}--m-primary__c-badge--BorderWidth: var(--pf-t--global--border--width--300); // used only for primary, unread, not disabled

  // Stateful
  --#{$button}--m-stateful--BackgroundColor: var(--pf-t--global--background--color--control--default);
  --#{$button}--m-stateful--Color: var(--pf-t--global--text--color--regular);
  --#{$button}--m-stateful__icon--Color: var(--pf-t--global--icon--color--regular);
  --#{$button}--m-stateful--hover--BackgroundColor: var(--pf-t--global--text--color--on-brand--hover);
  --#{$button}--m-stateful--hover--Color: var(--pf-t--global--text--color--on-brand--hover);
  --#{$button}--m-stateful--hover__icon--Color: var(--pf-t--global--text--color--on-brand--hover);
  --#{$button}--m-stateful--m-clicked--BackgroundColor: var(--pf-t--global--color--brand--clicked);
  --#{$button}--m-stateful--m-clicked--Color: var(--pf-t--global--text--color--on-brand--clicked);
  --#{$button}--m-stateful--m-clicked__icon--Color: var(--pf-t--global--text--color--on-brand--clicked);
}

.#{$button} {
  position: relative;
  display: inline-block;
  padding-block-start: var(--#{$button}--PaddingTop);
  padding-block-end: var(--#{$button}--PaddingBottom);
  padding-inline-start: var(--#{$button}--PaddingLeft);
  padding-inline-end: var(--#{$button}--PaddingRight);
  font-size: var(--#{$button}--FontSize, inherit);
  font-weight: var(--#{$button}--FontWeight);
  line-height: var(--#{$button}--LineHeight);
  color: var(--#{$button}--Color);
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background-color: var(--#{$button}--BackgroundColor);
  border: 0;
  border-radius: var(--#{$button}--BorderRadius);

  &::after {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border: var(--#{$button}--BorderWidth) solid;
    border-color: var(--#{$button}--BorderColor);
    border-radius: inherit;
  }

  &.pf-m-block {
    display: block;
    width: 100%;
  }

  &.pf-m-small {
    --#{$button}--PaddingTop: var(--#{$button}--m-small--PaddingTop);
    --#{$button}--PaddingRight: var(--#{$button}--m-small--PaddingRight);
    --#{$button}--PaddingBottom: var(--#{$button}--m-small--PaddingBottom);
    --#{$button}--PaddingLeft: var(--#{$button}--m-small--PaddingLeft);
  }

  &.pf-m-display-lg {
    --#{$button}--PaddingTop: var(--#{$button}--m-display-lg--PaddingTop);
    --#{$button}--PaddingRight: var(--#{$button}--m-display-lg--PaddingRight);
    --#{$button}--PaddingBottom: var(--#{$button}--m-display-lg--PaddingBottom);
    --#{$button}--PaddingLeft: var(--#{$button}--m-display-lg--PaddingLeft);
    --#{$button}--FontSize: var(--#{$button}--m-display-lg--FontSize);
  }

  // Primary
  &.pf-m-primary {
    --#{$button}--Color: var(--#{$button}--m-primary--Color);
    --#{$button}--BackgroundColor: var(--#{$button}--m-primary--BackgroundColor);
    --#{$button}--hover--Color: var(--#{$button}--m-primary--hover--Color);
    --#{$button}--hover--BackgroundColor: var(--#{$button}--m-primary--hover--BackgroundColor);
    --#{$button}--m-clicked--Color: var(--#{$button}--m-primary--m-clicked--Color);
    --#{$button}--m-clicked--BackgroundColor: var(--#{$button}--m-primary--m-clicked--BackgroundColor);

    .#{$badge}.pf-m-unread {
      border: var(--#{$button}--m-primary__c-badge--BorderWidth) solid var(--#{$button}--m-primary__c-badge--BorderColor);
    }
  }

  // Secondary
  &.pf-m-secondary {
    --#{$button}--Color: var(--#{$button}--m-secondary--Color);
    --#{$button}--BorderColor: var(--#{$button}--m-secondary--BorderColor);
    --#{$button}--hover--Color: var(--#{$button}--m-secondary--hover--Color);
    --#{$button}--hover--BorderColor: var(--#{$button}--m-secondary--hover--BorderColor);
    --#{$button}--m-clicked--Color: var(--#{$button}--m-secondary--m-clicked--Color);
    --#{$button}--m-clicked--BorderColor: var(--#{$button}--m-secondary--m-clicked--BorderColor);

    &.pf-m-danger {
      --#{$button}--BackgroundColor: var(--#{$button}--m-secondary--m-danger--BackgroundColor);
      --#{$button}--Color: var(--#{$button}--m-secondary--m-danger--Color);
      --#{$button}--BorderColor: var(--#{$button}--m-secondary--m-danger--BorderColor);
    }
  }

  // Tertiary
  &.pf-m-tertiary {
    --#{$button}--Color: var(--#{$button}--m-tertiary--Color);
    --#{$button}--BorderColor: var(--#{$button}--m-tertiary--BorderColor);
    --#{$button}--hover--BorderWidth: var(--#{$button}--m-tertiary--hover--BorderWidth);
    --#{$button}--hover--BorderColor: var(--#{$button}--m-tertiary--hover--BorderColor);
    --#{$button}--m-clicked--Color: var(--#{$button}--m-tertiary--m-clicked--Color);
    --#{$button}--m-clicked--BorderColor: var(--#{$button}--m-tertiary--m-clicked--BorderColor);
  }

  // Link
  &.pf-m-link {
    --#{$button}--Color: var(--#{$button}--m-link--Color);
    --#{$button}--BackgroundColor: var(--#{$button}--m-link--BackgroundColor);
    --#{$button}--hover--Color: var(--#{$button}--m-link--hover--Color);
    --#{$button}--hover--BackgroundColor: var(--#{$button}--m-link--hover--BackgroundColor);
    --#{$button}--disabled--BackgroundColor: var(--#{$button}--m-link--disabled--BackgroundColor);
    --#{$button}--disabled--Color: var(--#{$button}--m-link--disabled--Color);

    &:hover,
    &:focus {
      text-decoration: var(--pf-t--global--link--text-decoration--hover); // TODO use variable?
    }

    &.pf-m-inline {
      --#{$button}--FontSize: var(--#{$button}--m-link--m-inline--FontSize);
      --#{$button}--PaddingTop: var(--#{$button}--m-link--m-inline--PaddingTop);
      --#{$button}--PaddingRight: var(--#{$button}--m-link--m-inline--PaddingRight);
      --#{$button}--PaddingBottom: var(--#{$button}--m-link--m-inline--PaddingBottom);
      --#{$button}--PaddingLeft: var(--#{$button}--m-link--m-inline--PaddingLeft);
      --#{$button}--hover--Color: var(--#{$button}--m-link--m-inline--hover--Color);
      --#{$button}__progress--Left: var(--#{$button}--m-link--m-inline__progress--Left);

      display: inline;
      text-align: start;
      white-space: normal;
      cursor: pointer;
    }

    &.pf-m-display-lg {
      --#{$button}--FontSize: var(--#{$button}--m-link--m-display-lg--FontSize);
    }
  }

  // Danger
  &.pf-m-danger {
    --#{$button}--Color: var(--#{$button}--m-danger--Color);
    --#{$button}--BackgroundColor: var(--#{$button}--m-danger--BackgroundColor);
    --#{$button}--hover--Color: var(--#{$button}--m-danger--hover--Color);
    --#{$button}--hover--BackgroundColor: var(--#{$button}--m-danger--hover--BackgroundColor);
  }

  // Warning
  &.pf-m-warning {
    --#{$button}--Color: var(--#{$button}--m-warning--Color);
    --#{$button}--BackgroundColor: var(--#{$button}--m-warning--BackgroundColor);
    --#{$button}--m-warning--hover--Color: var(--#{$button}--m-warning--hover--Color);
    --#{$button}--m-warning--hover--BackgroundColor: var(--#{$button}--m-warning--hover--BackgroundColor);
    --#{$button}--m-warning--m-clicked--Color: var(--#{$button}--m-warning--m-clicked--Color);
    --#{$button}--m-warning--m-clicked--BackgroundColor: var(--#{$button}--m-warning--m-clicked--BackgroundColor);
  }

  // Control
  &.pf-m-control {
    --#{$button}--Color: var(--#{$button}--m-control--Color);
    --#{$button}--BackgroundColor: var(--#{$button}--m-control--BackgroundColor);
    --#{$button}--BorderRadius: var(--#{$button}--m-control--BorderRadius);
    --#{$button}--disabled--BackgroundColor: var(--#{$button}--m-control--disabled--BackgroundColor);
    --#{$button}--BorderWidth: var(--#{$button}--m-control--BorderWidth);
    --#{$button}--BorderColor: var(--#{$button}--m-control--BorderColor);

    &:hover {
      --#{$button}--m-control--Color: var(--#{$button}--m-control--hover--Color);
      --#{$button}--m-control--BackgroundColor: var(--#{$button}--m-control--hover--BackgroundColor);
      --#{$button}--m-control--BorderBottomColor: var(--#{$button}--m-control--hover--BorderBottomColor);

      &::after {
        border-block-end-width: var(--#{$button}--m-control--hover--BorderBottomWidth);
      }
    }

    &:active,
    &.pf-m-active {
      --#{$button}--m-control--Color: var(--#{$button}--m-control--active--Color);
      --#{$button}--m-control--BackgroundColor: var(--#{$button}--m-control--active--BackgroundColor);
      --#{$button}--m-control--BorderBottomColor: var(--#{$button}--m-control--active--BorderBottomColor);

      &::after {
        border-block-end-width: var(--#{$button}--m-control--active--BorderBottomWidth);
      }
    }

    &:focus {
      --#{$button}--m-control--Color: var(--#{$button}--m-control--focus--Color);
      --#{$button}--m-control--BackgroundColor: var(--#{$button}--m-control--focus--BackgroundColor);
      --#{$button}--m-control--BorderBottomColor: var(--#{$button}--m-control--focus--BorderBottomColor);

      &::after {
        border-block-end-width: var(--#{$button}--m-control--focus--BorderBottomWidth);
      }
    }

    &.pf-m-expanded {
      --#{$button}--m-control--Color: var(--#{$button}--m-control--m-expanded--Color);
      --#{$button}--m-control--BackgroundColor: var(--#{$button}--m-control--m-expanded--BackgroundColor);
      --#{$button}--m-control--BorderBottomColor: var(--#{$button}--m-control--m-expanded--BorderBottomColor);

      &::after {
        border-block-end-width: var(--#{$button}--m-control--m-expanded--BorderBottomWidth);
      }
    }
  }

  // Icon buttons
  &.pf-m-plain {
    --#{$button}--disabled--Color: var(--#{$button}--m-plain--disabled--Color);
    --#{$button}--disabled--BackgroundColor: var(--#{$button}--m-plain--disabled--BackgroundColor);
    --#{$button}--PaddingTop: var(--#{$button}--m-plain--PaddingTop);
    --#{$button}--PaddingRight: var(--#{$button}--m-plain--PaddingRight);
    --#{$button}--PaddingBottom: var(--#{$button}--m-plain--PaddingBottom);
    --#{$button}--PaddingLeft: var(--#{$button}--m-plain--PaddingLeft);
    --#{$button}--BorderRadius: var(--#{$button}--m-plain--BorderRadius);

    color: var(--#{$button}--m-plain--Color);
    background-color: var(--#{$button}--m-plain--BackgroundColor);

    &.pf-m-no-padding {
      padding: 0;
    }

    &:hover,
    &:focus {
      --#{$button}--m-plain--BackgroundColor: var(--#{$button}--m-plain--hover--BackgroundColor);

      mix-blend-mode: var(--pf-t--global--background--color--action--plain--hover--blend);
    }

    &:active,
    &.pf-m-active {
      --#{$button}--m-plain--Color: var(--#{$button}--m-plain--active--Color);
      --#{$button}--m-plain--BackgroundColor: var(--#{$button}--m-plain--active--BackgroundColor);
    }

    &:focus {
      --#{$button}--m-plain--Color: var(--#{$button}--m-plain--focus--Color);
      --#{$button}--m-plain--BackgroundColor: var(--#{$button}--m-plain--focus--BackgroundColor);
    }
  }

  &:hover,
  &:focus {
    --#{$button}--Color: var(--#{$button}--hover--Color);
    --#{$button}--BackgroundColor: var(--#{$button}--hover--BackgroundColor);
    --#{$button}--BorderColor: var(--#{$button}--hover--BorderColor);
    --#{$button}--BorderWidth: var(--#{$button}--hover--BorderWidth);

    text-decoration: none;
  }

  &.pf-m-clicked {
    --#{$button}--Color: var(--#{$button}--m-clicked--Color);
    --#{$button}--BackgroundColor: var(--#{$button}--m-clicked--BackgroundColor);
    --#{$button}--BorderWidth: var(--#{$button}--m-clicked--BorderWidth);
    --#{$button}--BorderColor: var(--#{$button}--m-clicked--BorderColor);
  }

  // Disabled buttons
  // These styles need to go after the button types because they need to override some of the type styling
  &:disabled,
  &.pf-m-disabled {
    pointer-events: none;
  }

  &:disabled,
  &.pf-m-disabled,
  &.pf-m-aria-disabled {
    &::after {
      border-color: var(--#{$button}--disabled--BorderColor);
    }

    color: var(--#{$button}--disabled--Color);
    background-color: var(--#{$button}--disabled--BackgroundColor);

    .#{$badge} {
      --#{$badge}--m-unread--Color: var(--#{$button}--disabled__c-badge--Color);
      --#{$badge}--m-unread--BackgroundColor: var(--#{$button}--disabled__c-badge--BackgroundColor);
      --#{$button}--m-primary__c-badge--BorderWidth: 0;
    }
  }

  &.pf-m-aria-disabled {
    --#{$button}--BorderWidth: 0;
    --#{$button}--m-link--m-inline--hover--TextDecoration: none;

    cursor: default;
  }

  &.pf-m-progress {
    --#{$button}--PaddingRight: var(--#{$button}--m-progress--PaddingRight);
    --#{$button}--PaddingLeft: var(--#{$button}--m-progress--PaddingLeft);

    transition: var(--#{$button}--m-progress--TransitionProperty) var(--#{$button}--m-progress--TransitionDuration);
  }

  &.pf-m-in-progress {
    --#{$button}--m-link--m-inline--PaddingLeft: var(--#{$button}--m-link--m-inline--m-in-progress--PaddingLeft);

    &:not(.pf-m-plain) {
      --#{$button}--PaddingRight: var(--#{$button}--m-in-progress--PaddingRight);
      --#{$button}--PaddingLeft: var(--#{$button}--m-in-progress--PaddingLeft);
    }

    &.pf-m-plain {
      --#{$button}--m-plain--Color: var(--#{$button}--m-in-progress--m-plain--Color);
      --#{$button}__progress--Left: var(--#{$button}--m-in-progress--m-plain__progress--Left);
      --#{$button}__progress--TranslateX: var(--#{$button}--m-in-progress--m-plain__progress--TranslateX);

      > :not(.#{$button}__progress) {
        opacity: 0;
      }
    }
  }
}

.#{$button}__icon {
  &.pf-m-start {
    margin-inline-end: var(--#{$button}__icon--m-start--MarginRight);
  }

  &.pf-m-end {
    margin-inline-start: var(--#{$button}__icon--m-end--MarginLeft);
  }
}

.#{$button}__progress {
  position: absolute;
  inset-block-start: var(--#{$button}__progress--Top);
  inset-inline-start: var(--#{$button}__progress--Left);
  line-height: 1;
  transform: translate(var(--#{$button}__progress--TranslateX), var(--#{$button}__progress--TranslateY));

  .#{$spinner} {
    --#{$spinner}--Color: currentcolor;
  }
}

.#{$button}__count {
  display: inline-flex;
  align-items: center;
  margin-inline-start: var(--#{$button}__count--MarginLeft);
}
