<div class="{{pfv}}compass__dock
  {{setModifiers
    compass-dock--IsExpanded='pf-m-expanded'
    compass-dock--IsTextExpanded='pf-m-text-expanded'
    compass-dock--modifier=compass-dock--modifier
  }}"
  {{#if compass-dock--attribute}}
    {{{compass-dock--attribute}}}
  {{/if}}>
  {{#> compass-dock-main}}
    {{> @partial-block}}
  {{/compass-dock-main}}
</div>
